@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
    color: white;
    background: linear-gradient(90deg, rgba(18,18,19,1) 0%, rgba(19,24,18,1) 36%, rgba(25,29,25,1) 69%, rgba(52,58,59,1) 100%);
}
.bgNavbar{
    background: transparent;
}
.navbarCenter {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.imageContainer img{
    width: 40px;
    height: 40px;
}
.navHover li a{
    color: white;
    border-bottom: 4px solid transparent;
    transform: .5s;
}
.navHover li a:hover{
    border-bottom: 4px solid white;
    border-radius: 5px;
}

.paddingno {
    margin: 0;
    padding: 0;
    width: 100%;
}